[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

freetype-py = "*"


[dev-packages]

pytest = "*"
pytest-cov = "*"
pylint = "*"


[requires]

python_version = "3.5"
